:root {
    --text-color: black;
    --background-color: white;
    --border-color: lightgray;
    --transparent-bg-gray: rgba(211, 211, 211, 0.2);
    --font-family: 'Playfair Display', sans-serif;
    --font-size-large: clamp(30px, 5vw, 50px);
    --font-size-medium: clamp(20px, 2.5vw, 25px);
    --font-size-small: clamp(15px, 2.5vw, 20px);
}

.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}
  

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: var(--font-family);
}

body {
    display: flex; 
    flex-direction: column;
    max-width: 100%;
}

header, footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    padding: 1em;
}

header {
    position: sticky;
    top: 0;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0, 0.2);
}

a {
    color: var(--text-color);
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-small);
    flex-direction: column;
}

main > div {
    padding: 0.5em 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: var(--font-size-large);
    font-weight: normal;
    margin: 10px 0px;
}

@media print {
    header {
        display: none;
    }

    footer {
        display: none;
    }
}
